@import './_val.scss';

@font-face {
  font-family: 'AppleSDG';
  src: url("../public/fonts/AppleSDGothicNeoM.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGB';
  src: url("../public/fonts/AppleSDGothicNeoB.ttf");
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  font-family: 'AppleSDG';
  font-size: 16px;
}

.main-nav{
  opacity: 0;
  transition-duration: 2s;
  color: $mainColor;
}

.offcanvas{
  font-family: 'AppleSDG';
}

.main-logo{
  position: absolute;
  top: 30vh;
  left:40vw;
  background-image: url(../public/img/logo6.png);
  width: 400px;
  height: 320px;
  background-size: cover;
  
}
.main-nav-fixed{
  opacity: 1;
  transition-duration: 2s;
}

.ani-enter{
  opacity: 0.1;
}

.ani-enter{
  opacity: 0.1;
}


.main {
  background : linear-gradient(
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)
  ) ,url('../public/img/main.jpeg');
  background-size: cover;
  width:100%;
  height: 100vh;
  color: white;
  float: left;
  position: relative;

 

  h4{
    font-size: 5em;
    position: relative;
    top: 50vh;

  }

  p{
    font-size: 14px;
  }

  .btn{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    position: relative;

    top: 55vh;
  }
}


.main-merit {
  padding: 80px;
  background-color:#eee;
  width:100%;
  color: $mainColor;
  float:left;


  .main-merit-parts{
    height: 700px;
  }

  h4 {
    margin-top:20px;
    color: black;
    font-size: 30px;
  }
  p{
    margin-top:40px;
    color: black;
  }

  

  }

  .main-merit-img{
    margin: auto;
    margin: top 20px;
    background-size: cover;
    width:60%;
    height:60%;
  }

  .img-1{
    background-image: url(../public/img/merit3.jpeg);
  }

  .img-2{
    background-image: url(../public/img/merit2.jpeg);
  }

  .img-3{
    background-image: url(../public/img/merit4.jpeg);
  }

  .main-steps{
    width: 100%;
    text-align:center;
    padding: 50px;
    background-color:white;
    color: $mainColor;
    float:left;

    h4{
      font-size: 30px;
      margin-top:10px;
      color: black;
    }
    p{
      margin-top:50px;
      color: grey;
    }

 
  }


  .main-steps-text{
    padding:20px;
    display: inline-block;
    margin: 30px;
    width:17rem;
    height:300px;
    border:1px solid #eee;
    


    h4{
      margin-top: 20px;
      font-size: 24px;
    }

    p{
      margin-top: 50px;
      color: grey;
    }
  }



  .question{
    background-color:#eee;
    margin: auto;
    padding:50px;
    padding-bottom:100px;
    width:100%;
    float:left;

    small{
      color: $mainColor;
    }

    h4{
      margin-top: 20px;
      font-size: 24px;
    }

    p{
      margin-top: 50px;
      color: grey;
    }

  
  }



  .footer{
    padding: 50px;
    background-color:black;
    width:100%;
    float:left;
    color: white;
    text-align:left;
    small{
      width: 100%;
      color: grey;
      font-size: 12px;
      margin-bottom: 15px;
      float:left;
    }

    .footer-logo{
      padding: 50px;
      font-size:46px;
      float:left;
      width: 25%;
    }
    .footer-about{
      
      float:left;
      width: 30%;
 
      small{
        padding-right: 20px;
      }
    }
    .footer-company{
  
      float:left;
      width: 15%;
    
      small{
        font-size:16px;
      }
      small:hover{
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .footer-account{
      
      float:left;
      width: 15%;

      small{
        font-size:16px;
      }
      small:hover{
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    .footer-contactus{
      
      float:left;
      width: 15%;
    }

    .footer-footer{
      margin-top:10px;
      padding: 10px;
      border-top: 1px solid grey;
      width: 100%;
      float:left;
    }
  }









@include tablet{
  .footer{
 

    .footer-logo{
 
      width: 100%;
      text-align: center;
    }
    .footer-about{
      
  
      width: 100%;
      margin-top:20px;
 
    }
    .footer-company{
  
    
      width: 100%;
      margin-top:20px;

    }
    .footer-account{
      
     
      width: 15%;
      margin-top:20px;

    }
    
    .footer-contactus{
      
      width: 100%;
      margin-top:20px;

    }

    .footer-footer{
    
      width: 100%;

    }
  }


  .main-steps-text{
    width: 100%;
    margin: 0px;
    margin-top:40px;
  }
}

 