
@import './_val.scss';

@font-face {
  font-family: 'AppleSDG';
  src: url("../public/fonts/AppleSDGothicNeoM.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGB';
  src: url("../public/fonts/AppleSDGothicNeoB.ttf");
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  font-family: 'AppleSDG';
  font-size: 16px;
}

//nav
.main-nav{
  opacity: 0.5;
  transition-duration: 1s;
  color: $mainColor;
}

.offcanvas{
  font-family: 'AppleSDG';
}

.main-nav-fixed{
  opacity: 1;
  transition-duration: 1s;
}



//main
.main {
  background : linear-gradient(
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)
  ) ,url('../public/img/main.jpeg');
  background-size: cover;
  width:100%;
  height: 100vh;
  color: white;
  float: left;
  position: relative;


 

  h4{
    font-size: 5em;
    position: relative;
    top: 50vh;
    

  }


  p{
    position: relative;
    font-size: 14px;
    top: 50vh;
  }

  .main-text-acc{
    font-size: 23px;
    color: $mainColor;
  }

  .btn{
    background-color: $mainColor;
    margin: 20px;
    padding: 20px;
    border: 0;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    position: relative;

    top: 55vh;
  }
}


//Login
.loginForm{
  background-image: url(../public/img/merit2.jpeg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  border: 1px solid transparent;

  .login-div{
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    margin: auto;
    width: 30%;
    height: 40vh;
    margin-top: 30vh;
  }

  .login-head{
    color: white;
    font-size: 30px;
    height: 25%;
    vertical-align: center;

    h4{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    }
  .login-icon{
    color: white;
  }
  .login-input{
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    width: 40%;
    height: 40px;
    margin: 5px;

  }

  .login-btn{
    background-color: $mainColor;
    width: 6rem;
    margin: auto;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5 10px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
  }

  .login-btn:hover{
    color: black;
  }

  .join{
    display: inline;
  }
}




//join

.join-wrap{
  background-image: url(../public/img/merit4.jpeg);
  width: 100vw;
  background-size: cover;
  border: 1px solid transparent;
  padding-top: 100px;
  padding-bottom: 100px;

  .join-box{
    margin: auto;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    width: 60%;
    padding: 50px;
    height: 90%;
  }
  
  .error{
    color: red;
  }

  .success{
    color: green;
  }

  button{
    width: 20%;
    height: 40px;
    background-color: $mainColor;
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
  }

  #joinBtn{
    width: 60%;
    height: 60px;
    font-size: 28px;
    font-weight: 500;

  }
  h4{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .formbox{
    width: 60%;
    margin: auto;
  }

  .join_title{
    color: black;
    margin: 10px;
  }

  .formbox{
    h3{
      text-align: left;
    }
  }

  input{
    text-align: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
}


//modal
.j_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
  z-index:1;
  display:none;
  
}

.modal_content {
  width:450px;
  height:580px;
  margin: 100px auto;
  background: white;
}

.modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:-1;
}
.modal_title {
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  float:left;
  display: flex;
    align-items: center; 
    color: white;
}

.modal_title h1{
  padding-right: 590px;
}

.j_modal #location {
  padding-top: 10px;
  padding-left: 150px;
}



.main-merit {
  padding: 80px;
  background-color:#eee;
  width:100%;
  color: $mainColor;
  float:left;


  .main-merit-parts{
    height: 700px;
  }

  h4 {
    margin-top:20px;
    color: black;
    font-size: 30px;
  }
  p{
    margin-top:40px;
    color: black;
    margin-bottom: 20px;
  }

  

  }

  .main-merit-img{
    margin: auto;
    margin: top 20px;
    background-size: cover;
    // width:60%;
    height:60%;
  }

  .img-1{
    background-image: url(../public/img/merit3.jpeg);
    width: 100%;
    padding: 1px;
  }

  .img-2{
    background-image: url(../public/img/merit2.jpeg);
    width: 100%;
    padding: 1px;


  }

  .img-3{
    background-image: url(../public/img/merit4.jpeg);
    width: 100%;
    padding: 1px;


  }

  .main-steps{
    width: 100%;
    text-align:center;
    padding: 50px;
    background-color:white;
    color: $mainColor;
    float:left;

    h4{
      font-size: 30px;
      margin-top:10px;
      color: black;
    }
    p{
      margin-top:50px;
      color: grey;
      
    }

 
  }


  .main-steps-text{
    padding:20px;
    display: inline-block;
    margin: 30px;
    width:17rem;
    height:300px;
    border:1px solid #eee;
    


    h4{
      margin-top: 20px;
      font-size: 24px;
    }

    p{
      margin-top: 50px;
      color: grey;
    }
  }



  .question{
    background-color:#eee;
    margin: auto;
    padding:50px;
    padding-bottom:100px;
    width:100%;
    float:left;

    small{
      color: $mainColor;
    }

    h4{
      margin-top: 20px;
      font-size: 24px;
    }

    p{
      margin-top: 50px;
      color: grey;
      margin-bottom: 20px;
    }

  
  }



  .footer{
    padding: 50px;
    background-color:black;
    width:100%;
    float:left;
    color: white;
    text-align:left;


    p{
      margin-bottom: 5px;
    }
    small{
      width: 100%;
      color: grey;
      font-size: 12px;
      margin-bottom: 15px;
      float:left;
    }

    .footer-logo{
      padding: 50px;
      font-size:46px;
      float:left;
      width: 25%;
    }
    .footer-about{
      
      float:left;
      width: 30%;
 
      small{
        padding-right: 20px;
      }
    }
    .footer-company{
  
      float:left;
      width: 15%;
    
      small{
        font-size:16px;
      }
      small:hover{
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .footer-account{
      
      float:left;
      width: 15%;

      small{
        font-size:16px;
      }
      small:hover{
        color: white;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    .footer-contactus{
      
      float:left;
      width: 15%;
    }

    .footer-footer{
      margin-top:10px;
      padding: 10px;
      border-top: 1px solid grey;
      width: 100%;
      float:left;
    }
  }


 

  .Survey{
    width: 100%;
    height: 100vh;
    background-image: url(../public/img/merit4.jpeg);
    background-size: cover;
    border: 1px solid transparent;
    


    .Survey-title{
      color: white;
      display: block;
      margin-top: 40vh;

      h4{
        font-size: 2rem;
        margin: 20px;
      }
    }

    .btn{
      width: 13rem;
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $mainColor;
      border: 0;
      border-radius: 5px;
      font-size: 20px; 
    }

    .btn:hover{
      color: black;
    }


    .btn-copy{
      width: 5rem;
      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    .btn-copy-clicked{
      opacity: 0.8;
      background-color: grey;
      color: black;
    }

    .btn-bug{
      display : inline-block;
    }



    .Survey-input{
      input{
        padding: 10px;
        display: block;
        margin: auto;
        width: 15rem;
        text-align: center;
        border: 0;
        border-radius: 5px;
        outline: none;
        color: $mainColor;
        font-weight: 600;
      }

      .alert-white{
        color: white;
      }
      .alert-red{
        color: red;
      }

      .alert-none{
        color: transparent;
      }
    }


    .Survey-checkbox-wrap{
      display: block;
      margin: auto;
      margin-top: 40px;
      width: 30vw;

    }
    .Survey-checkbox{
      color: white;
      margin: auto;
      width: 15vw;
      font-size: 20px;
      text-align: left;
      float: left;
    }

  }

  








@include tablet{
  .footer{
 

    .footer-logo{
 
      width: 100%;
      text-align: center;
    }
    .footer-about{
      
  
      width: 100%;
      margin-top:20px;
 
    }
    .footer-company{
  
    
      width: 100%;
      margin-top:20px;

    }
    .footer-account{
      
     
      width: 15%;
      margin-top:20px;

    }
    
    .footer-contactus{
      
      width: 100%;
      margin-top:20px;

    }

    .footer-footer{
    
      width: 100%;

    }
  }


  .main-steps-text{
    width: 100%;
    margin: 0px;
    margin-top:40px;
  }
}