/* dd

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;
  font-size: 15px;
}

#joinForm{
    margin: 100px auto 100px auto;
    width: 400px;
    vertical-align: middle;
    background-color: #e0f2f1 !important;
    height: 100%;
}




.formbox {
    position: relative;
    margin: 30px;
    border-bottom: 2px solid #adadad;
    padding: 10px 10px;
  }

  .success {
    color: #8f8c8b;
    
  }
  .error {
    color: #ff2727;
  }

  #joinForm input{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  #idCheckBtn , #postCodeBtn{
    position:relative;
    left:20%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:40%;
    height:40px;
    background: linear-gradient(85deg,#8fe284,#ade9ab,#81ecde);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  #idCheckBtn , #postCodeBtn:hover {
    background-position: right;
  }

  #joinBtn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  #joinBtn:hover {
    background-position: right;
  }

  모달창*/
   .j_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    z-index:1;
    display:none;
    
  }
  
  .modal_content {
    width:450px;
    height:580px;
    margin: 100px auto;
    background: white;
  }
  
  .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
  }
  .modal_title {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    float:left;
    display: flex;
      align-items: center; 
      color: white;
  }
  
  .modal_title h1{
    padding-right: 590px;
  }
  
  .j_modal #location {
    padding-top: 10px;
    padding-left: 150px;
  }
