.container{
    margin: 50px 0 0 100px;
    width: 1000px;
    height: 500px;
}

div {
    display: block;
}

h1{
    margin-top: 15px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

th{
    color: #333;
    border-right: 1px solid #e5e5e5;
    background: #f9f9f9;
}

td, th{
    line-height: 14px;
    text-align: left;
    vertical-align: top;
    letter-spacing: -1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    height: 10px;
}

.thcell{
    padding: 35px 31px 32px;
}


.tdcell{
    padding: 32px 0 4px 30px;
}

.contxt_tit{
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.contxt_desc{
    line-height: 19px;
    padding-top: 10px;
    margin-bottom: 2px;
    color: #8e8e8e;
}

.btn_area_btm{
    overflow: hidden;
    margin-left: -8px;
    padding-top: 14px;
    text-align: left;
}

.contxt_tit2{
    font-weight: 700;
    padding-top: 27px;
    color: #333;
}
.btn_model{
    display: inline-block;
    font-size: 12px;
    position: relative;
    padding: 0 13px;
    margin-top: 7px;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 0;
    line-height: 33px;
    color: #222;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
.btn_model.init{
    margin-left: 3px;
    margin-top: 10px;
}
.btn_model.phone{
    margin-top: -2px;
    
}



.country_code {
        font-size: 12px;
        line-height: 27px;
        display: inline-block;
        float: left;
        padding-left: 7px;
        letter-spacing: 0;
        color: #333;
}
.contxt_webctrl .country_code_w {
    display: inline-block;
    overflow: hidden;
    min-width: 176px;
    margin-left: 8px;
    vertical-align: top;
    border: 1px solid #ccc;
}

.country_code_w input {
        float: left;
        width: 147px;
        margin-left: 4px;
        padding-left: 0;
        letter-spacing: 0;
        border: 0;
}

.contxt_webctrl .country_drop {
    width: 110px;
}

select::-ms-expand { 
	display: none;
}
.select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 57px;
    height: 33px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 3px;
    text-align: center;
    margin-left: 10px;
  }


#user_name{
    width: 120px;
    height: 33px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 3px;
}
#user_name:hover{
    background-color: rgb(236, 242, 248);
}

#telNo1Second,#telNo1Third{
    width: 57px;
    height: 33px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 3px;
    padding-top: 10px;
}
.select:hover,#telNo1Second:hover ,#telNo1Third:hover{
    background-color: rgb(236, 242, 248);
}

.links{
    color: #000;
}
.btn_model:hover{
    background-color: rgb(220, 236, 250);
}