#con{
    position: absolute;
    top: 80px;
}

#tr_file_upload{
    display: none;
}

#tr_btn_modify{
    display: none;
}

#imagetr{
    height: 350px;
    vertical-align: middle;
}

#imagetr td{
    height: 320px;
    vertical-align: middle;
}

.image{
    width: 300px;
    height: 300px;
}