.leftBtn {
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    width: 70px;
}

.deleteBtn {
    background-image: url("C:/study/react_workspace/zzasik_front/public/image/cancel.png");
    background-size: 27px;
    background-repeat: no-repeat;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 0px;
}

.deleteBtn:hover{
    cursor: pointer;
}