div#wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

ul, li {
    list-style: none;
}

ul#productul {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
}

li#productli {
    padding: 17px;
    border: 3px solid lightgray;
}

<<<<<<< HEAD
/* img {
=======
.image{
>>>>>>> refs/heads/main
    width: 300px;
    height: 300px;
} */

.leftBtn {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
}