html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,

article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration-line : none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


.hi_name{margin-left: 400px; font-size: 40px; color: black;}
.div_1{margin: 100px; width:1700px; height:780px; background-color: rgb(222, 214, 223);  }
.div_2{width:1700px; height: 100px; background-color: rgb(235, 168, 168);overflow: hidden ;}
.div_2_1{ text-align: left;   margin: 4px; }
.fir_a{ font-size: 30px; margin-top: 30px; float: left;}
.div_3{background-color: rgb(176, 135, 222); width:1700px; height:700px; overflow: hidden ; }
.select_box{ height: 42px; width: 500px;  margin-left: 10px; margin-top: 0px; border: 2px solid rgba(0, 0, 0, 0);
    background-color: #0562afaf;
    color: white;
    padding: 12px;
    border-radius:20px;
    border: none;
    font-size: 14px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;

}
.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  .search_img{width:30px; height: 30px; margin-top: 36px; margin-left: 10px; cursor:pointer}
  .div_4{text-align: left; margin-top: 20px; font-size: 30px;}
  .table_div{font-size: 30px; }
 
  
  .input_div{
      width: 500px;
     
  }
  
 
