.coaching_div_1{height:500px;}
.donut_div{margin: 50px; width: 300px; height:220px;  margin-bottom: 20px;}
.content_div_1{margin:130px; width:310px;  margin-top: 0px; text-align: left; font-size: 20px;}
.text_a{font-size: 20px; color: black; font-weight: bold; margin-bottom: 20px;}
.content_div_1 div {margin-bottom: 20px;}



.temp_4{ width: 100%; height:70px;background-color: #f8fafa;}
.temp_5{padding-top: 22px;width:150px; height:70px; background-color: #dff8f5; color:black; font-size: 24px; float:left}
.temp_6{width:750px; height:70px; float:left}
.temp_input{margin: 10px; width:650px; height: 50px;border:none; box-shadow : 2px 2px 5px #999;}
.temp_7{width:750px; height:400px; float:left}




.Coaching_div{  margin-top: 0px; background-color:rgba(0, 0, 255, 0.219) }
.CoachingMsg{ width:200px}
.input_msg{ width: 400px;}


.st_day{font-size: 40px; color: black;}
.countDay{margin-left: 20px; text-align: left; font-size: 30px; color: rgb(0, 0, 0);}
.food{float: left;}