/**/

.myhome-title{
    font-weight: 600;
    letter-spacing: 1px;
}
.content{
    display:flex;
    float: left;
    margin-top: 70px;
}


/*박스*/
.box{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.box_header {
   display: flex;
}

.box_header h2{
    margin: 15px 0px 20px 25px;
    font-size: 24px;
    font-weight: 600;
}

/*마이페이지*/

/*내 정보*/
.profile{
    margin: auto;
    width: 400px;
    height: 350px;
}

.profile_content{
    text-align: center;
}

.profile #edit{
    font-size: 16px;
    float: right;
	margin: 16px 0px 0 210px;
	color: blue;
	font-weight: 500;
	text-decoration: none;
}

/*회원 탈퇴 버튼*/
.delAccount{
    width: 90px;
    height: 50px;
    margin: auto;
    color:#fff;
	background: rgba(0,79,255,0.9);
	font-size: 15px;
	border:none;
	box-shadow: 0 4px 8px rgba(0,79,255,0.6) rgba(18, 209, 248, 0.7);
    
}
.delAccount:focus {
	outline:0;
}
.delAccount:hover{
	background: rgba(18, 209, 248, 0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(18, 209, 248, 0.6);
}

.openBtn {
    background-color: #F9B514;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.delAccountContent{
    width:256px;
    height:155px;
    margin: 239px auto;
    background: white;
}
.delAccountTitle{
    width: 100%;
    position: relative;
    padding-top: 10px;
    color: white;
}