/**/

.myhome-title{
    font-weight: 600;
    letter-spacing: 1px;
}
.content{
    margin-top: 70px;
    padding: 0 0 110px 0;
}


/*박스*/
.box{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.box_header {
   display:flow-root;
}

.box_header h2{
    margin: 15px 0px 20px 25px;
    font-size: 24px;
    font-weight: 600;
    float: left;
}

/*박스 헤더 오른쪽 버튼*/
.manage{
    font-size: 16px;
    float: right;
    margin: 12px;
	color: blue;
	font-weight: 500;
	text-decoration: none;
}

.arrow{
    width: 14px;
    height: 14px;
}

/*마이페이지*/

/*내 정보*/
.profile{
    margin: auto;
    width: 400px;
    height: 350px;
}

.profile_content{
    text-align: center;
}


/*회원 탈퇴 버튼*/
.delAccount{
    width: 90px;
    height: 50px;
    margin: auto;
    color:#fff;
	background: rgba(0,79,255,0.9);
	font-size: 15px;
	border:none;
	box-shadow: 0 4px 8px rgba(0,79,255,0.6) rgba(18, 209, 248, 0.7);
    
}
.delAccount:focus {
	outline:0;
}
.delAccount:hover{
	background: rgba(18, 209, 248, 0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(18, 209, 248, 0.6);
}

.openBtn {
    background-color: #F9B514;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.delAccountContent{
    width:256px;
    height:155px;
    margin: 239px auto;
    background: white;
}
.delAccountTitle{
    width: 100%;
    position: relative;
    padding-top: 10px;
    color: white;
}

/*나의 코칭 서비스 - 식단 테이블*/
.meal-table{
    width: 80%;
    margin: 20px auto;
}
/*몇일차*/
.day{
    margin: 3px 0px 0px 12px;
    font-size: 22px;
    color: #F9B514;
}

/*진행된 식단 버튼 리스트*/
.dayBtn {
    width: 100px;
    height: 35px;
	background-color: #F9B514;
    border-radius: 15px;
	font-size: 15px;
    font-weight: 600;
    color: white;
	border:none;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.buttonlist {
    margin: 10px auto;
}
.buttonlist .item {
	display: inline-block;
    margin-top: 10px;
	margin-left: 20px;
	text-align: center;
	box-shadow: 0px 0px 5px rgba(299,299,299,0.1);
}
.buttonlist .item:nth-child(-n+3){
	margin-top: 0;
}

.buttonlist .item:nth-child(3n-2){
	margin-left: 0;
}