.Board_list{width: 500px; height: 30px;font-family: inherit;  font-size: 15px;/* 폰트 상속 */ background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ border: 1px solid #999; border-radius: 0px; /* iOS 둥근모서리 제거 */ -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }
.button_e{-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: var(--button-bg-color);
    color: var(--button-color);
    
    margin: 0;
    padding: 0.5rem 1rem;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    

    border-radius: 3px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.602);
    
    cursor: pointer;
    
    transition: 0.5s;}

    .search{  margin-bottom: 0px; margin-left: 10px; width:20px; height: 20px; cursor: pointer;}