.table-section{
    margin: auto;
    display: inline-block;
    width:900px;
}

.table-section .manage{
    display: flex;
    float: right;
	margin: 15px 10px 0 0;
	color: blue;
	font-weight: 500;
	text-decoration: none;
}

.tb th,.tb td{
    border: 0;
}

.tb{
    table-layout:fixed;
    margin:auto;
	margin-top: 40px;
    margin-bottom: 50px;
    width:700px;
	border-bottom:1px solid #999;
	color:#666;
	font-size:12px;
}

.tb a{
    color: #383838;
    text-decoration: none;
}

.tb th{
    padding:5px 0 6px;
	text-align: center;
	border-top:solid 1px #999;
	border-bottom:solid 1px #b2b2b2;
	background-color:#f1f1f4;
	color:#333;
	font-weight: bold;
	line-height: 20px;
	vertical-align: top;
}

.tb td{
    padding: 13px 0 11px;
	border-bottom: solid 1px #d2d2d2;
	text-align: center;
	line-height: 18px;
}
#name{
    font-size: 14px;
}
.Addrbtn_model{
    display: inline-block;
    font-size: 12px;
    position: relative;
    padding: 0 13px;
    margin-left: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    line-height: 33px;
    color: #222;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}
.Addrbtn_model:hover{
    background-color: rgb(242, 254, 255);
}

.addressContent{
    width: 1003px;
    height: 536px;
    margin: 139px auto;
    background: white;
    text-align: center;
}


.addresstitle{
    width: 100%;
    position: relative;
    padding-top: 10px;
    color: white;
    text-align: center;
}


/* 배송지 수정 모달 */
.m_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.ModContent {
    width: 1003px;
    height: 432px;
    margin: 139px auto;
    background: white;
}

.Modmodal_layer{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.j_modal h3{
    color:black;
    font-size:25px;
    margin: 15px -6px 15px 0;
    text-align: center;
}

.closeBtnImg{
    margin-left: 397px;
}
.closeBtnImg:hover{
    background-color: rgb(243, 233, 233);
}